@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new Stylist</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <fieldset>
        <legend>Schedule - Select Days</legend>

        @Html.RadioButtonFor(s => s.Monday, true, new { id = "monday-true" })
        @Html.Label("monday-true", "Monday")

        @Html.RadioButtonFor(s => s.Tuesday, true, new { id = "tuesday-true" })
        @Html.Label("tuesday-true", "Tuesday")


        @Html.RadioButtonFor(s => s.Wednesday, true, new { id = "wednesday-true" })
        @Html.Label("wednesday-true", "Wednesday")

        @Html.RadioButtonFor(s => s.Thursday, true, new { id = "thursday-true" })
        @Html.Label("thursday-true", "Thursday")

        @Html.RadioButtonFor(s => s.Friday, true, new { id = "friday-true" })
        @Html.Label("friday-true", "Friday")

        @Html.RadioButtonFor(s => s.Saturday, true, new { id = "saturday-true" })
        @Html.Label("saturday-true", "Saturday")

        @Html.RadioButtonFor(s => s.Sunday, true, new { id = "sunday-true" })
        @Html.Label("sunday-true", "Sunday")

      </fieldset>

      <input type="submit" value="Add new category" />
}
<p>@Html.ActionLink("Show all categories", "Index")</p>

@* 
      <fieldset>
        <legend>Tuesday</legend>



        @Html.RadioButtonFor(e => e.Tuesday, false, new { id = "tuesday-false" })
        @Html.Label("tuesday-false", "Not Working")

    </fieldset>

    <fieldset>
        <legend>Wednesday</legend>
        @Html.RadioButtonFor(e => e.Wednesday, false, new { id = "wednesday-false" })
        @Html.Label("wednesday-false", "Not Working")

    </fieldset>

    <fieldset>
        <legend>Thursday</legend>

 
        @Html.RadioButtonFor(e => e.Thursday, false, new { id = "thursday-false" })
        @Html.Label("thursday-false", "Not Working")

    </fieldset>

    <fieldset>
        <legend>Friday</legend>



        @Html.RadioButtonFor(e => e.Friday, false, new { id = "friday-false" })
        @Html.Label("friday-false", "Not Working")

    </fieldset>

    <fieldset>
        <legend>Saturday</legend>



        @Html.RadioButtonFor(e => e.Saturday, false, new { id = "saturday-false" })
        @Html.Label("saturday-false", "Not Working")

    </fieldset>

    <fieldset>
        <legend>Sunday</legend>



        @Html.RadioButtonFor(e => e.Sunday, false, new { id = "sunday-false" })
        @Html.Label("sunday-false", "Not Working")

    </fieldset> *@


