@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Add a new Client</h3>

@using (Html.BeginForm())
{
  <div class = "well">
    @Html.LabelFor(model => model.FirstName)  
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)  
    @Html.TextBoxFor(model => model.LastName)
    <br>
    @Html.LabelFor(model => model.Phone)   
    @Html.TextBoxFor(model => model.Phone)
    <br>
    @Html.LabelFor(model => model.Birthday)  
    @Html.TextBoxFor(model => model.Birthday, "{0:yyyy-MM-dd}", new { type="date" })
    <br>
    @Html.LabelFor(model => model.ClientSince)   
    @Html.TextBoxFor(model => model.ClientSince, "{0:yyyy-MM-dd}", new { type="date" })
    <br>
    @Html.LabelFor(model => model.StylistId)  
    @Html.DropDownList("StylistId")
  </div>
  <br>

    <input type="submit" value="Add new Client" class="btn btn-primary" />
}
<br>
<p><b>@Html.ActionLink("Show all Clients", "Index")</b></p>