@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Edit this Client: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)p</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.FirstName)
    @Html.EditorFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    <br>
    @Html.LabelFor(model => model.Phone)
    @Html.TextBoxFor(model => model.Phone)
    <br>
    @Html.LabelFor(model => model.Birthday)
    @Html.TextBoxFor(model => model.Birthday, "{0:yyyy-MM-dd}", new { type="date" })
    <br>
    @Html.LabelFor(model => model.ClientSince)
    @Html.TextBoxFor(model => model.ClientSince, "{0:yyyy-MM-dd}", new { type="date" })
    <br>
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    <br>
    <input type="submit" value="Save" class="btn btn-primary"/>
}
<br>
<p><b>@Html.ActionLink("Back to Client list", "Index")</p></b>